@import url('https://fonts.googleapis.com/css2?family=Handlee&family=La+Belle+Aurore&display=swap');

body {
    background: linear-gradient(#ff61d2, #fe9090);
    color: black;
    font-family: 'handlee';
}

/*paragraph sections*/
section p,
ul {
    font-family: 'Georgia', sans-serif;
    justify-content: space-evenly;
    width: 400px;
    line-height: 3em;
    border: 15px solid orange;
    padding: 50px;
    margin: auto;
    font-size: 19px;


    list-style: square;
    margin-block: 25px;


    background: crimson;
}


/* font for About section*/
section,
h1 {

    font-family: 'Courier New';
    text-align: center;
    font-style: bold;
    font-size: 60px;
    color: black
}

/*hover my name & about label*/
h1:hover {
    cursor: pointer;
    color: pink;
}

/* purple border around each section*/
h2,
h3,
form {
    font-size: 20px;
    color: black;
    text-justify: auto;
    display: block;
    background-color: lightgrey;
    width: 500px;
    border: 15px solid purple;
    padding: 10px;
    margin: auto;
}


/*  fonts for all section labels*/

section label,
h2,
h3 {

    font-family: 'Verdana';
    padding: 50px;
    margin-block-start: 10px;
    font-size: 40px;
}


/* font for each form label names*/

section form label {
    width: 100px;
    padding: 0px;
    font-family: 'arial';
    font-weight: bolder;
    font-size: 22px;
}


/*textarea input section*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=La+Belle+Aurore&display=swap');

input,
textarea {
    height: 60px;
    margin: left;
    width: 100%;
    font-family: 'handlee';
    font-size: 25px;
    background-color: aqua;
    border: 3px solid gold;
}



/*button section*/
button {
    margin: auto;
    height: 50px;
    width: 100px;

    font-family: 'cursive';
    font-style: italic;
    font-size: 20px;
    display: inline;
    font-weight: bold;
    background-color: green;
}


/*Picture section*/
img {

    border-radius: 50px;
    background-color: beige;
    border: 2px solid black
}


/*logo name section*/
.logo {

    text-align: left;
    font-size: 20px;
}


/* Centered body section*/
section,
body {

    text-align: center;
}


/* changed style-list for message section*/
#messages {

    list-style: square;
}

/*makes messages fit in box*/
#messages li {

    overflow-wrap: break-word;
}


/* Added lavendar box around footer*/
footer p {
    font-weight: bold;
    padding: 5px;
    display: inline;
    color: black;
    background-color: lavender;
}




/* style navigational header */
header ul {

    margin: 100px;
    font-family: Verdana;
    font-weight: bold;
    display: inline;
    background-color: rgb(136, 6, 136);
    border: 5px solid black;
    box-shadow: 0 25px 25px -25px black;
}

/* made header text next to eachother with space with padding*/
header ul li {

    display: inline-block;
    cursor: auto;
    padding: 13px 35px;
    list-style: none;
    position: relative;
    z-index: 5;
    transition: 0.3s;
}

/*hover nav bar*/
header ul li:hover {

    background: plum;
}

/* made header with no underline & change link text color*/
header li a {

    text-transform: uppercase;
    text-decoration: none;
    color: black
}


/* made header sticky*/
header {

    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
}

/*make scrolling smooth*/
html {
    scroll-behavior: smooth;
}

/*added flex with columns*/

#experience ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

section form {

    display: flex;
    flex-direction: column;

}




/*media query for all desktops*/

@media (max-width: 1200px) {

    section,
    body {

        flex-wrap: wrap;
        background-color: teal;
        border: 20px solid grey;

    }

    header ul {
        font-size: 14px;
        margin: 50px;
        padding: 8px;
    }
}



/* media query for  Tablets */
@media only screen and (max-width: 768px) {

    section,
    body {

        flex-wrap: wrap;
        background-color: violet;
        border: 20px solid grey;
    }

    header ul {

        font-size: 9px;
        padding: 5px;
        margin: 35px;
    }

}

/* media query for mobile Phones */
@media only screen and (max-width: 480px) {

    section,
    body {

        flex-wrap: wrap;

        background-color: skyblue;
        border: 20px grey;

    }

    header ul {
        font-size: 4px;
        margin: 5px;
        padding: 2px;

    }


}